@import "src/assets/styles/variables";

@import "../../styles";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  margin: 1rem 0;
}

