@import "src/assets/styles/variables";

$dropdown-border-width: 1px;

@mixin clearButtonStyles {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
};

.menu {
  //display: none;
  position: absolute;
  margin: 0;
  padding: .5rem 0;
  list-style: none;
  background: $color-white;
  background-clip: padding-box;
  border-top: solid ($dropdown-border-width * 2) $color-primary;
  box-shadow: $shadow;
  border-radius: 0 0 $border-radius $border-radius;
  top: 100%;
  z-index: 1000;
  color: $color-text-body;
}

.left {
  @extend .menu;
  left: 0;
}

.right {
  @extend .menu;
  right: 0;
}

.toggle {
  @include clearButtonStyles;

  display: flex;
  align-items: center;
  height: 100%;
  color: $color-gray-dark;
  cursor: pointer;

  &:focus {
    outline: none;
    color: $color-blue;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;

  & {
    &:hover > &__toggle {
      color: inherit;
      text-decoration: none;
    }
  }
}

.item {
  @include clearButtonStyles;

  display: flex;
  width: 100%;
  align-items: center;
  padding: .5rem 1.5rem;
  border-radius: $border-radius;
  line-height: 1;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;

  &:focus {
    outline: none;
  }
}
