@import "src/assets/styles/variables";

.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: $color-gray-lightest;
}

.sidebar {
  flex: 0 0 $sidebar-width;
}

.content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
