@import "src/assets/styles/variables";

.input {
  width: 100%;
  border-radius: $border-radius;
  background-color: $color-white;
  transition: border-color $transition-speed $transition-function, box-shadow $transition-speed $transition-function;

  & {
    border: solid $input-border-width $input-border-color;
    padding: $input-padding-x $input-padding-y;
    line-height: 1.25rem;
    height: 2.5rem;
  }

  &:focus {
    outline: 0;
    border-color: rgba($color-primary, 1);
    box-shadow: 0 0 0 0.25rem rgb($color-primary, 25%);
  }

  &:disabled {
    background-color: $color-gray-light;
  }
}

.default {
  flex: 1 1 auto;
}

.horizontal {
  flex: 0 0 70%;
}
