@import "src/assets/styles/variables";

@import "../../styles.module";

.wrapper {
  @extend .item;

  cursor: pointer;

  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, .05);
    color: $color-primary;
    text-decoration: none;
  }
}

.icon {
  display: flex;
  margin-right: 1rem;

  & > svg {
    width: .875rem;
    height: .875rem;
    color: $color-gray-light;
  }
}
