@import "src/assets/styles/variables";

.default {
  color: $color-gray-medium;
  font-size: .75rem;
  font-weight: 600;
  letter-spacing: .08rem;
  padding: 1rem 1.5rem;
  text-transform: uppercase;
}
