@import "src/assets/styles/variables";

.page {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.header {
  flex: 0 0 $header-height;
  display: flex;
  align-items: center;
  font-size: $font-size-xl;
  letter-spacing: -.025rem;
}

.body {
  flex: 1 1 auto;
  position: relative;
}

.content {
  padding: 2rem;
  border-radius: $border-radius;
  background-color: $color-white;
  box-shadow: $shadow;
}
