@import "src/assets/styles/variables";

.page {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.header {
  flex: 0 0 $header-height;
  display: flex;
  font-size: $font-size-xl;
  letter-spacing: -.025rem;
}

.body {
  position: relative;
}
