@use "sass:math";
@import "src/assets/styles/variables";

@mixin data-table-cell {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: $cell-padding-y $cell-padding-x;
  text-align: left;
}

.table {
  position: relative;
  margin-bottom: 1rem;
  flex: 1 0 auto;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.cell {
  @include data-table-cell;
  border-bottom: solid 1px $color-gray-lightest;

  @each $name, $color in $colors {
    &--#{$name} {
      background-color: $color;
    }
  }
}
